.main-content {
  transition: all .25s cubic-bezier(.55,0,.1,1);
}

.page-enter-active, .page-leave-active {
  transition: opacity .25s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .4s;
}
.bounce-leave-active {
  animation: bounce-out .25s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.25) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.25) }
  100% { transform: scale(0) }
}